In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
%matplotlib inline

data_p = pd.read_csv("train.csv")

In [26]:
#데이터 확인

data_p.sample(10)

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
11124,9011,2.0,531,5.0,604,4.0,422,1.0,514,1.0,...,1,1,1,1,1,1,1,1,1,1
31334,36380,1.0,446,5.0,818,4.0,596,1.0,844,1.0,...,1,1,1,1,1,0,1,1,1,1
31791,23644,1.0,407,5.0,966,5.0,606,1.0,889,1.0,...,1,1,0,1,1,0,1,0,1,1
6756,33408,2.0,2692,1.0,2803,4.0,2270,1.0,1801,2.0,...,1,1,0,0,1,0,1,1,1,1
24416,16171,3.0,389,1.0,2180,4.0,620,2.0,502,4.0,...,1,1,0,1,1,0,1,1,1,1
35371,29091,2.0,554,5.0,1211,5.0,1155,1.0,1372,1.0,...,1,1,0,1,1,0,1,1,1,1
7049,39608,2.0,685,4.0,3350,3.0,2931,2.0,725,3.0,...,1,1,0,1,1,0,1,1,1,1
6769,41556,1.0,905,4.0,117,4.0,1213,1.0,920,1.0,...,1,1,1,1,1,0,1,0,1,1
1177,38321,1.0,4367,2.0,836,2.0,627,3.0,161,1.0,...,1,1,0,1,1,0,1,0,1,1
24198,40217,4.0,571,2.0,3762,2.0,1009,2.0,887,2.0,...,1,1,1,1,1,0,1,1,1,1

In [27]:
data.info()
#결측값 없음 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 78 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       36425 non-null  int64
 1   QaA         36425 non-null  float64
 2   QaE         36425 non-null  int64
 3   QbA         36425 non-null  float64
 4   QbE         36425 non-null  int64
 5   QcA         36425 non-null  float64
 6   QcE         36425 non-null  int64
 7   QdA         36425 non-null  float64
 8   QdE         36425 non-null  int64
 9   QeA         36425 non-null  float64
 10  QeE         36425 non-null  int64
 11  QfA         36425 non-null  float64
 12  QfE         36425 non-null  int64
 13  QgA         36425 non-null  float64
 14  QgE         36425 non-null  int64
 15  QhA         36425 non-null  float64
 16  QhE         36425 non-null  int64
 17  QiA         36425 non-null  float64
 18  QiE         36425 non-null  int64
 19  QjA         36425 non-null  float64
 20  QjE         36425 non-null  int64
 21  QkA         36425 non-null  float64
 22  QkE         36425 non-null  int64
 23  QlA         36425 non-null  float64
 24  QlE         36425 non-null  int64
 25  QmA         36425 non-null  float64
 26  QmE         36425 non-null  int64
 27  QnA         36425 non-null  float64
 28  QnE         36425 non-null  int64
 29  QoA         36425 non-null  float64
 30  QoE         36425 non-null  int64
 31  QpA         36425 non-null  float64
 32  QpE         36425 non-null  int64
 33  QqA         36425 non-null  float64
 34  QqE         36425 non-null  int64
 35  QrA         36425 non-null  float64
 36  QrE         36425 non-null  int64
 37  QsA         36425 non-null  float64
 38  QsE         36425 non-null  int64
 39  QtA         36425 non-null  float64
 40  QtE         36425 non-null  int64
 41  age_group   36425 non-null  object
 42  education   36425 non-null  int64
 43  engnat      36425 non-null  int64
 44  familysize  36425 non-null  int64
 45  gender      36425 non-null  object
 46  hand        36425 non-null  int64
 47  married     36425 non-null  int64
 48  race        36425 non-null  object
 49  religion    36425 non-null  object
 50  tp01        36425 non-null  int64
 51  tp02        36425 non-null  int64
 52  tp03        36425 non-null  int64
 53  tp04        36425 non-null  int64
 54  tp05        36425 non-null  int64
 55  tp06        36425 non-null  int64
 56  tp07        36425 non-null  int64
 57  tp08        36425 non-null  int64
 58  tp09        36425 non-null  int64
 59  tp10        36425 non-null  int64
 60  urban       36425 non-null  int64
 61  voted       36425 non-null  int64
 62  wf_01       36425 non-null  int64
 63  wf_02       36425 non-null  int64
 64  wf_03       36425 non-null  int64
 65  wr_01       36425 non-null  int64
 66  wr_02       36425 non-null  int64
 67  wr_03       36425 non-null  int64
 68  wr_04       36425 non-null  int64
 69  wr_05       36425 non-null  int64
 70  wr_06       36425 non-null  int64
 71  wr_07       36425 non-null  int64
 72  wr_08       36425 non-null  int64
 73  wr_09       36425 non-null  int64
 74  wr_10       36425 non-null  int64
 75  wr_11       36425 non-null  int64
 76  wr_12       36425 non-null  int64
 77  wr_13       36425 non-null  int64
dtypes: float64(20), int64(54), object(4)
memory usage: 21.7+ MB

In [29]:
data_p.describe()

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
count,36425.000000,36425.000000,3.642500e+04,36425.000000,3.642500e+04,36425.000000,36425.000000,36425.000000,3.642500e+04,36425.000000,...,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000
mean,22740.586520,2.131942,9.392264e+02,2.897598,2.053925e+03,3.661414,1461.583775,1.750748,1.499025e+03,2.320494,...,0.868717,0.895072,0.329087,0.938888,0.971613,0.202663,0.945532,0.393988,0.947536,0.926781
std,13118.110333,1.199763,1.372469e+04,1.568342,1.984665e+04,1.431303,8097.443081,1.046655,1.109992e+04,1.370584,...,0.337715,0.306465,0.469888,0.239539,0.166078,0.401989,0.226942,0.488639,0.222964,0.260499
min,0.000000,1.000000,2.500000e+01,1.000000,2.500000e+01,1.000000,25.000000,1.000000,2.600000e+01,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11403.000000,1.000000,4.040000e+02,1.000000,8.760000e+02,2.000000,651.000000,1.000000,6.810000e+02,1.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,22770.000000,2.000000,5.570000e+02,3.000000,1.220000e+03,4.000000,900.000000,1.000000,9.330000e+02,2.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
75%,34042.000000,3.000000,8.300000e+02,4.000000,1.842000e+03,5.000000,1339.000000,2.000000,1.361000e+03,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,45531.000000,5.000000,2.413960e+06,5.000000,3.232042e+06,5.000000,871557.000000,5.000000,1.552821e+06,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
#불균형 분포 확인
print(data_p['voted'].value_counts())

#불균형 분포 아님을 확인

0    19918
1    16507
Name: voted, dtype: int64

In [41]:
#결손값 처리
data_p.isna().head(3)
print(data_p.isna().sum())

index    0
QaA      0
QaE      0
QbA      0
QbE      0
        ..
wr_09    0
wr_10    0
wr_11    0
wr_12    0
wr_13    0
Length: 78, dtype: int64

In [68]:
####0값을 검사할 피처명 리스트 객체 설정


#무응답 해당 피처 : education, engnat, hand, urban
zero_features = ['education', 'engnat', 'hand', 'urban']
    
#전체 데이터 건수
total_count = data_p['education'].count()

#피처별로 반복 하면서 데이터 값이 0인 데이터 건수 추출하고, 퍼센트 계산
for feature in zero_features:
    zero_count = data_p[data_p[feature] == 0][feature].count()
    print('{0} 0 건수는 {1}, 퍼센트는 {2:.2f} %'.format(feature,  zero_count, 100* zero_count/total_count))
    
    
Q_E = []


#Q_E 시간
for i in range(97, 117):
    a = 'Q' + chr(i) + 'E'
    Q_E.append(a)
    
print(Q_E)
    
for feature in Q_E:
    zero_count = data_p[data_p[feature] == 0][feature].count()
    print('{0} 0 건수는 {1}, 퍼센트는 {2:.2f} %'.format(feature,  zero_count, 100* zero_count/total_count))

    
    
#tp
TP = []
for i in range(1,10):
        a = 'tp0' + str(i)
        TP.append(a)
TP.append('tp10')
print(TP)

for feature in TP:
    zero_count = data_p[data_p[feature] == 0][feature].count()
    print('{0} 0 건수는 {1}, 퍼센트는 {2:.2f} %'.format(feature,  zero_count, 100* zero_count/total_count))

education 0 건수는 432, 퍼센트는 1.19 %
engnat 0 건수는 63, 퍼센트는 0.17 %
hand 0 건수는 135, 퍼센트는 0.37 %
urban 0 건수는 258, 퍼센트는 0.71 %
['QaE', 'QbE', 'QcE', 'QdE', 'QeE', 'QfE', 'QgE', 'QhE', 'QiE', 'QjE', 'QkE', 'QlE', 'QmE', 'QnE', 'QoE', 'QpE', 'QqE', 'QrE', 'QsE', 'QtE']
QaE 0 건수는 0, 퍼센트는 0.00 %
QbE 0 건수는 0, 퍼센트는 0.00 %
QcE 0 건수는 0, 퍼센트는 0.00 %
QdE 0 건수는 0, 퍼센트는 0.00 %
QeE 0 건수는 0, 퍼센트는 0.00 %
QfE 0 건수는 0, 퍼센트는 0.00 %
QgE 0 건수는 0, 퍼센트는 0.00 %
QhE 0 건수는 1, 퍼센트는 0.00 %
QiE 0 건수는 1, 퍼센트는 0.00 %
QjE 0 건수는 1, 퍼센트는 0.00 %
QkE 0 건수는 2, 퍼센트는 0.01 %
QlE 0 건수는 0, 퍼센트는 0.00 %
QmE 0 건수는 0, 퍼센트는 0.00 %
QnE 0 건수는 0, 퍼센트는 0.00 %
QoE 0 건수는 0, 퍼센트는 0.00 %
QpE 0 건수는 1, 퍼센트는 0.00 %
QqE 0 건수는 1, 퍼센트는 0.00 %
QrE 0 건수는 0, 퍼센트는 0.00 %
QsE 0 건수는 0, 퍼센트는 0.00 %
QtE 0 건수는 0, 퍼센트는 0.00 %
['tp01', 'tp02', 'tp03', 'tp04', 'tp05', 'tp06', 'tp07', 'tp08', 'tp09', 'tp10']
tp01 0 건수는 3822, 퍼센트는 10.49 %
tp02 0 건수는 4356, 퍼센트는 11.96 %
tp03 0 건수는 9348, 퍼센트는 25.66 %
tp04 0 건수는 4414, 퍼센트는 12.12 %
tp05 0 건수는 12682, 퍼센트는 34.82 %
tp06 0 건수는 7148, 퍼센트는 19.62 %
tp07 0 건수는 7858, 퍼센트는 21.57 %
tp08 0 건수는 2547, 퍼센트는 6.99 %
tp09 0 건수는 7027, 퍼센트는 19.29 %
tp10 0 건수는 1158, 퍼센트는 3.18 %

In [69]:
#0값을 평균값으로 대체
data_p[zero_features]=data_p[zero_features].replace(0, data_p[zero_features].mean())

In [82]:
#시간에 대해 이상치 데이터 인덱스 확인 및 제거

def get_outlier(df=None, column=None, weight=1.5):
    fraud = df[df['voted']==1][column]
    quantile_25 = np.percentile(fraud.values, 25)
    quantile_75 = np.percentile(fraud.values, 75)
    
    iqr = quantile_75 - quantile_25
    iqr_weight = iqr * weight
    lowest_val = quantile_25 - iqr_weight
    highest_val = quantile_75 + iqr_weight
    
    outlier_index = fraud[(fraud < lowest_val) | (fraud > highest_val)].index
    
    return outlier_index

for feature in Q_E:
    outlier_index = get_outlier(df=data_p, column=feature, weight=1.5)
    print('이상치 데이터 인덱스 :', outlier_index)
    
data_p.drop(outlier_index, axis=0, inplace=True)

이상치 데이터 인덱스 : Int64Index([   21,    31,    77,   110,   124,   134,   214,   243,   253,
              267,
            ...
            36149, 36179, 36205, 36206, 36220, 36221, 36252, 36350, 36363,
            36373],
           dtype='int64', length=1193)
이상치 데이터 인덱스 : Int64Index([   21,    43,    90,   124,   143,   182,   190,   199,   214,
              250,
            ...
            36204, 36205, 36254, 36274, 36306, 36320, 36322, 36336, 36364,
            36387],
           dtype='int64', length=1305)
이상치 데이터 인덱스 : Int64Index([   35,    49,    96,   101,   131,   134,   171,   199,   270,
              273,
            ...
            36252, 36280, 36290, 36295, 36304, 36325, 36358, 36363, 36365,
            36375],
           dtype='int64', length=1346)
이상치 데이터 인덱스 : Int64Index([    9,    27,    33,    35,    49,    66,    77,   143,   253,
              258,
            ...
            36206, 36224, 36235, 36248, 36322, 36330, 36336, 36374, 36392,
            36394],
           dtype='int64', length=1318)
이상치 데이터 인덱스 : Int64Index([    1,    21,    77,    82,   110,   124,   131,   134,   143,
              166,
            ...
            36178, 36184, 36205, 36206, 36274, 36281, 36295, 36325, 36350,
            36364],
           dtype='int64', length=1311)
이상치 데이터 인덱스 : Int64Index([    1,    11,    31,    77,   101,   114,   169,   214,   298,
              342,
            ...
            36252, 36303, 36320, 36325, 36336, 36350, 36363, 36364, 36373,
            36392],
           dtype='int64', length=1313)
이상치 데이터 인덱스 : Int64Index([   49,    53,    58,    77,    94,   124,   202,   222,   253,
              258,
            ...
            36162, 36205, 36206, 36221, 36231, 36315, 36325, 36358, 36388,
            36420],
           dtype='int64', length=1231)
이상치 데이터 인덱스 : Int64Index([  103,   110,   266,   273,   275,   287,   292,   302,   316,
              355,
            ...
            36071, 36124, 36165, 36174, 36205, 36274, 36306, 36350, 36374,
            36422],
           dtype='int64', length=1228)
이상치 데이터 인덱스 : Int64Index([   49,    53,    77,   110,   199,   202,   214,   267,   282,
              292,
            ...
            36044, 36124, 36129, 36178, 36204, 36259, 36290, 36320, 36350,
            36364],
           dtype='int64', length=1310)
이상치 데이터 인덱스 : Int64Index([    4,    11,    21,    31,    35,    94,   103,   110,   116,
              243,
            ...
            36221, 36224, 36252, 36295, 36322, 36336, 36350, 36352, 36376,
            36392],
           dtype='int64', length=1456)
이상치 데이터 인덱스 : Int64Index([    1,    77,   103,   110,   111,   124,   133,   143,   178,
              191,
            ...
            36122, 36129, 36178, 36205, 36237, 36244, 36274, 36325, 36350,
            36375],
           dtype='int64', length=1296)
이상치 데이터 인덱스 : Int64Index([   31,    33,    49,    66,    77,    85,   114,   124,   143,
              147,
            ...
            36179, 36204, 36206, 36244, 36267, 36325, 36350, 36358, 36387,
            36420],
           dtype='int64', length=1212)
이상치 데이터 인덱스 : Int64Index([    0,    11,    31,    45,    60,    77,    94,   101,   116,
              182,
            ...
            36206, 36209, 36224, 36231, 36274, 36303, 36320, 36365, 36369,
            36373],
           dtype='int64', length=1370)
이상치 데이터 인덱스 : Int64Index([   11,    31,    35,    49,    74,    77,   121,   182,   186,
              243,
            ...
            36267, 36303, 36350, 36352, 36358, 36364, 36387, 36396, 36409,
            36414],
           dtype='int64', length=1244)
이상치 데이터 인덱스 : Int64Index([   11,    21,    31,    58,   110,   176,   202,   253,   282,
              302,
            ...
            35958, 35963, 36059, 36070, 36099, 36205, 36274, 36303, 36376,
            36422],
           dtype='int64', length=1287)
이상치 데이터 인덱스 : Int64Index([    1,    31,    62,    77,   110,   124,   243,   250,   302,
              303,
            ...
            36237, 36274, 36290, 36295, 36322, 36336, 36350, 36373, 36374,
            36394],
           dtype='int64', length=1251)
이상치 데이터 인덱스 : Int64Index([    1,    31,    58,    73,    77,   110,   116,   131,   134,
              190,
            ...
            36179, 36197, 36237, 36252, 36304, 36350, 36364, 36373, 36376,
            36387],
           dtype='int64', length=1268)
이상치 데이터 인덱스 : Int64Index([   21,    33,    49,    77,   101,   103,   110,   232,   243,
              274,
            ...
            36103, 36205, 36236, 36254, 36295, 36303, 36324, 36325, 36336,
            36388],
           dtype='int64', length=1350)
이상치 데이터 인덱스 : Int64Index([    1,    11,   124,   131,   143,   169,   182,   232,   253,
              258,
            ...
            36160, 36165, 36178, 36205, 36206, 36252, 36279, 36320, 36350,
            36373],
           dtype='int64', length=1333)
이상치 데이터 인덱스 : Int64Index([    6,    12,    35,    53,    77,    94,    96,   214,   253,
              266,
            ...
            36171, 36205, 36259, 36295, 36306, 36322, 36335, 36352, 36364,
            36376],
           dtype='int64', length=1333)

In [83]:
#데이터 변환
#원-핫 인코딩 대상 : gender, married, race, religion, 
#레이블 인코딩 대상 : age-group, 

from sklearn.preprocessing import LabelEncoder

age_group_=['10s', '20s', '30s', '40s', '50s', '60s', '+70s']

encoder = LabelEncoder()
encoder.fit(age_group_)
labels=encoder.transform(age_group_)
print(labels)

#나는 +70s를 7번으로 만들고 싶다!!!

[1 2 3 4 5 6 0]

In [84]:
from sklearn.preprocessing import OneHotEncoder

#gender

gender_=['Male', 'Female']

encoder = LabelEncoder()
encoder.fit(gender_)
labels = encoder.transform(gender_)

labels = labels.reshape(-1,1)

oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)

In [85]:
#marride

marride_=['1', '2', '3', '0']

encoder = LabelEncoder()
encoder.fit(marride_)
labels = encoder.transform(marride_)

labels = labels.reshape(-1,1)

oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)

In [86]:
#race

race_=['Asian', 'Arab', 'Black', 'Indigenous Australian', 'Native American', 'White', 'Other']

encoder = LabelEncoder()
encoder.fit(race_)
labels = encoder.transform(race_)

labels = labels.reshape(-1,1)

oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)

In [87]:
#religion

religion_=['Agnostic', 'Atheist', 'Buddhist', 'Christian_Catholic', 'Christian_Mormon', 'Christian_Protestant', 'Christian_Other', 'Hindu', 'Jewish', 'Muslim', 'Sikh', 'Other']

encoder = LabelEncoder()
encoder.fit(religion_)
labels = encoder.transform(religion_)

labels = labels.reshape(-1,1)

oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)